<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/2-footer.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/1-buttons.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/0-hbnb.css?{{ cache_id }}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../static/scripts/1-hbnb.js?{{ cache_id }}"></script>
  </head>
  <body>
    <!-- Your body content here -->
    <div class="filters">
      <h4>Amenities</h4>
      <ul>
        {% for amenity in amenities %}
          <li>
            <input type="checkbox" data-id="{{ amenity.id }}" data-name="{{ amenity.name }}">
            {{ amenity.name }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
